.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 10rem;
    height: 7rem;
    border-radius: 5px;
}

.header-menu{
    color: white;
    font-size: 1rem;
    list-style: none;
    display: flex;
    gap: 2rem;
}

.header-menu>li:hover{
    cursor: pointer;
    color: var(--lightGreen);
    cursor: pointer;
}

@media screen and (max-width: 768px){
    .header>:nth-child(2){
        position: fixed;
        right: 2rem;
        z-index: 99;
    }

    .header-menu{
        flex-direction: column;
        background-color: var(--green);
        padding: 1rem;
    }
}
