:root{
  --lightMaroon: #640000;
  --white: #ffffff;
  --green: #005005;
  --lightGreen: #52fa5d;
  --footerCard: linear-gradient(210.41deg, #6f0000 1.14%, #338833 100.79%);
  --appColor: #440000;
}

.App{
  background-color: var(--appColor);
  display: flex;
  flex-direction: column;
  gap: 6rem;
  overflow: hidden;
}

::-webkit-scrollbar{
  display: none;
}

.stroke-text{
  color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

.btn{
  background-color: white;
  padding: 0.5rem;
  font-weight: bold;
  border: 4px solid transparent;
  transition: 300ms all;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:hover{
  cursor: pointer;
}

.blur{
  background: rgba(82, 250,93, 0.69);
  position: absolute;
  border-radius: 50%;
  filter: blur(50px);
  z-index: -1;
  
}